<div class = "ui container" style=" min-height: 92vh;">
  <div class = "ui secondary pointing menu">
    <a routerLink = '' class = "item"><i class="chess queen icon"></i></a>
    <a routerLink = '/elements' class = "item" routerLinkActive = 'active'>Elements</a>
    <a routerLink = '/collections' class = "item" routerLinkActive = 'active'>Collections</a>
    <a routerLink = '/views' class = "item" routerLinkActive = 'active'>Views</a>
  </div>

    <div class="ui segment">
      <router-outlet></router-outlet>
    </div>
</div>



